.messageItem {
    display: grid;
    grid-auto-columns: 100px 100px;
    grid-template-areas:
"a m"
}

.avatar img {
    grid-area: a;
    width: 63px;
    height: 63px;
}

.message {
    grid-area: m;
    border: solid aquamarine;
     ;
    width: 200px;
    height: 63px;
    margin-top: -9px;
    background-color: aquamarine;
    border-radius: 15px;
}
