.messageItem {
    display: grid;
    grid-auto-columns: 100px 100px;
    grid-template-areas:
"a m"
}

.avatar img {
    grid-area: a;
    width: 75px;
    height: 75px;
}
.name {
    margin-left: 10px;
    color: blueviolet;
}

.insideMassage {
    margin-left: 10px;
}

.time {
    margin-left: 245px;
    font-size: small;
    margin-top: 5px;
    color: cadetblue;
}
.message {
    width: 350px;
    height: 68px;
    margin-left: 2px;
    background: #B5DDD4;
    position: relative;
    border-radius: 10px;
}
.message :before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(50% + 10px);
    border-top: 8px solid transparent;
    border-right: 15px solid #B5DDD4;
    border-bottom: 8px solid transparent;
}